:root {
  --color-bg: #fff;
  --color-text: #222;
  --color-primary: #8257e6;
  --color-card: #fafafa;
}

.theme-dark {
  --color-bg: #18181b;
  --color-text: #eee;
  --color-primary: #a993fe;
  --color-card: #232323;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #111;
  overflow: hidden;
}
